
*.class

bin/classes/jp/android/chara/Character.class

bin/classes/jp/android/chara/Saber1.class

bin/classes/jp/android/chara/TalkBallon.class

bin/classes/jp/android/main/LiveWallPaperServiceTest$NFcReceiver.class

*.class

.classpath

.svn/all-wcprops

.svn/entries

*.svn-base
